@page "/tickets"
@inject ILogger<TicketList> _logger
<ValidateToken />

<h1>Tickets</h1>
<TimeDisplay />

<button @onclick="AddTicket" class="btn btn-primary mb-3 p-2">
    <span class="oi oi-plus" aria-hidden="true"></span>
    Add ticket
</button>

<button @onclick="RefreshList" class="btn btn-secondary mb-3 p-2" disabled=@_refreshing>
    <span class="oi oi-reload" aria-hidden="true"></span>
    Refresh
</button>

<MessageBox Error="@_error" />

@if (_tickets == null || _tickets.Length < 1)
{
    <p>@_message</p>
}
else
{
    <table class="table table-hover table-striped table-sm align-middle font-monospace
           @(_refreshing ? "refreshing" : "")">
        <caption>List of tickets</caption>
        <thead>
            <tr class="text-center">
                <th>
                    <a @onclick='() => SortBy("id")' role="button">ID</a>
                </th>
                <th>Description</th>
                <th>
                    <a @onclick='() => SortBy("status")' role="button">Status</a>
                </th>
                <th>
                    <a @onclick='() => SortBy("created")' role="button">Created</a>
                </th>
                <th>
                    <a @onclick='() => SortBy("updated")' role="button">Updated</a>
                </th>
                <th>
                    <a @onclick='() => SortBy("customer")' role="button">Customer</a>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in _tickets)
            {
                <TicketListItem Ticket="@ticket" />
            }
        </tbody>
    </table>
}

@code {
    private TicketViewModel[] _tickets;
    private string _ticketsUrl;
    private bool _refreshing = false;

    private string _sortOrder = "desc";
    private string _currentFilter;

    private string _message = "Loading...";
    private string _error;

    protected override async Task OnInitializedAsync()
    {
        _ticketsUrl = apiService.TicketsUrl;
        await UpdateList(_ticketsUrl);
    }

    private async Task SortBy(string filter)
    {
        if (_refreshing)
            return;

        if (_currentFilter == filter)
            _sortOrder = _sortOrder == "desc" ? "asc" : "desc";
        else
            _sortOrder = "desc";

        // Sparar filtret ifall man ex. trycker refresh så sorterar den fortfarande
        _ticketsUrl = $"{apiService.TicketsUrl}?sort={filter}&order={_sortOrder}";
        await UpdateList(_ticketsUrl);
        _currentFilter = filter;
    }

    private async Task UpdateList(string url)
    {
        _refreshing = true;
        _error = string.Empty;

        var response = await apiService.SendToAPIAsync(HttpMethod.Get, url, auth: true);
        if (response.IsSuccessStatusCode)
        {
            _tickets = await response.Content.ReadFromJsonAsync<TicketViewModel[]>();

            if (_tickets.Length < 1)
                _message = "No tickets available.";
            else
                _message = string.Empty;
        }
        else if (response.StatusCode == HttpStatusCode.Unauthorized)
            navigationManager.NavigateTo("/signin");
        else
        {
            _error = $"Error loading tickets. {(int)response.StatusCode} {response.ReasonPhrase}";
            _message = string.Empty;
            apiService.LogWarningIfDebug(await response.Content.ReadAsStringAsync(), _logger);
        }
        _refreshing = false;
    }

    private async Task RefreshList()
    {
        if (!_refreshing)
        {
            await UpdateList(_ticketsUrl);
            StateHasChanged();
        }
    }

    private void AddTicket()
    => navigationManager.NavigateTo("/addticket");

}
