@page "/tickets"
@inject ILogger<Tickets> _logger

<h1>Tickets</h1>


@if (tickets == null)
{
    <p>Loading...</p>
}
else
{
    <button @onclick="AddTicket" class="btn btn-secondary mb-3 p-2">
        <span class="oi oi-plus" aria-hidden="true"></span>
        Add ticket
    </button>

    <table class="table table-hover table-striped table-sm align-middle font-monospace">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Status</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Customer</th>
                <th>Administrator</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in tickets)
            {
                <TicketListItem Ticket="@ticket" Token="@_token"/>
            }
        </tbody>
    </table>
}

@code {
    private TicketModel[] tickets;
    private string _url = "https://localhost:44330/api/tickets";
    private string _token;

    protected override async Task OnInitializedAsync()
    {
        _token = await localStorage.GetItemAsStringAsync("accessToken");

        if (string.IsNullOrEmpty(_token))
            navigationManager.NavigateTo("/signin");

        var request = new HttpRequestMessage(HttpMethod.Get, _url);
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", _token);

        try
        {
            var response = await Http.SendAsync(request);

            if (response.IsSuccessStatusCode)
                tickets = await response.Content.ReadFromJsonAsync<TicketModel[]>();
            else
                navigationManager.NavigateTo("/signin");
        }
        catch (HttpRequestException)
        {
            _logger.LogWarning($"Could not reach {_url}.\n" +
                "The HTTP request (which makes use of CORS) failed because the HTTP connection failed at either the network or protocol level.\n" +
                "The error is not directly related to CORS, but is a fundamental network error of some kind.\n" +
                "https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSDidNotSucceed");
        }
    }

    private void AddTicket()
        => navigationManager.NavigateTo("/tickets/add");
}
