td {
    cursor: pointer;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.ticket-description {
    max-width: 250px;
    text-align: start !important;
}

.ticket-date {
    max-width: 50px;
    overflow: visible !important;
    white-space: normal !important;
    word-wrap: break-word !important;
}

.ticket-status,
.ticket-id {
    width: 10px !important;
}

td.actions a {
    transition: color 0.2s;
    color: gray;
    text-decoration: none;
}

td.actions a:hover {
    color: black;
}

.updating tbody tr td {
    cursor: wait !important;
}
