@page "/signout"

<h3>Signing out</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await apiService.SignOut();
        navigationManager.NavigateTo("/signin", forceLoad: true);
    }
}
