@page "/signin"

<h3>Sign in</h3>
<TimeDisplay />

@if (!string.IsNullOrEmpty(_error))
{
    <div class="alert alert-danger">
        <span>@_error</span>
    </div>
}

@if (_signInModel != null)
{
    <EditForm Model="@_signInModel" OnValidSubmit="@Login">
        <DataAnnotationsValidator />
        <div class="form-group">

            <label>Email</label>
            <InputText type="email" id="email" class="form-control"
                       @bind-Value="_signInModel.Email" />

            <ValidationMessage For="() => _signInModel.Email" />

            <label>Password</label>
            <InputText type="password" id="password" class="form-control"
                       @bind-Value="_signInModel.Password" />

            <ValidationMessage For="() => _signInModel.Password" />

            <button type="submit" class="btn btn-success mt-3" disabled=@submitting>
                Sign in
            </button>
            <button @onclick="GoToRegister" class="btn btn-outline-primary mt-3">No account? Register here!</button>
        </div>
    </EditForm>
}



@code {
    private string _error;
    private string _validateUrl = "https://localhost:44330/api/admin/validate";
    private bool submitting = false;

    private SignInModel _signInModel;

    protected override async Task OnInitializedAsync()
    {
        _signInModel = new SignInModel();

        _error = string.Empty;
        var response = await apiService.SendToAPIAsync(HttpMethod.Post, _validateUrl, auth: true);
        if (response.IsSuccessStatusCode)
            navigationManager.NavigateTo("/", forceLoad: true);
    }

    private async Task Login()
    {
        submitting = true;
        _error = string.Empty;
        var response = await apiService.SignIn(_signInModel);

        if (response.IsSuccessStatusCode)
            navigationManager.NavigateTo("/", forceLoad: true);
        else if (response.StatusCode == HttpStatusCode.Unauthorized)
            _error = "Incorrect email or password.";
        else
            _error = $"{(int)response.StatusCode} {response.ReasonPhrase}";
        submitting = false;
    }

    private void GoToRegister()
        => navigationManager.NavigateTo("/register");
}
