@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            <div class="alert alert-warning d-block d-xl-none wrap">
                For the best experience and performance, <br />
                we recommend using this application on a screen with a width of at least 1200px.
            </div>
            @Body
        </div>
        <footer>
            <p class="text-center text-muted font-monospace">
                &copy; Johannes Bergendahl - ASP.NET Web Api Inlämningsuppgift 1
            </p>
        </footer>
    </div>

</div>
