<p class="text-black-50 font-monospace">@(_now ?? "")</p>

@code {
    private string _now;

    protected override void OnInitialized()
        => _now = DateTime.Now.ToString("yyyy-MM-dd HH:mm");
}
